<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!-- All JavaScript in footer.html -->
<head>
    <meta charset="UTF-8">
</head>
<body>
<footer class="blog-footer bg-dark" th:fragment="footer">
    <div class="container">
        <p class="m-0 text-center text-white">
            @ 2018 <a href="https://github.com/zhangjihere">Welcome to tombear github</a>
        </p>
    </div>

    <!-- JavaScript -->
    <script src="../../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script src="../../static/js/jquery.form.min.js" th:src="@{/js/jquery.form.min.js}"></script>
    <script src="../../static/js/tether.min.js" th:src="@{/js/tether.min.js}"></script>
    <script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="../../static/js/nprogress.js" th:src="@{/js/nprogress.js}"></script>
    <script src="../../static/js/thinker-md.vendor.min.js"
            th:src="@{/js/thinker-md.vendor.min.js}"></script>
    <script src="../../static/js/jquery.tagsinput.min.js" th:src="@{/js/jquery.tagsinput.min.js}"></script>
    <!-- https://github.com/harvesthq/chosen/releases/ -->
    <script src="../../static/js/chosen.jquery.js" th:src="@{/js/chosen.jquery.js}"></script>
    <script src="../../static/js/toastr.min.js" th:src="@{/js/toastr.min.js}"></script>
    <script src="../../static/js/jquery.cropbox.js" th:src="@{/js/jquery.cropbox.js}"></script>
    <script src="../../static/js/thymeleaf-bootstrap-paginator.js"
            th:src="@{/js/thymeleaf-bootstrap-paginator.js}"></script>
    <script src="../../static/js/catalog-generator.js" th:src="@{/js/catalog-generator.js}"></script>
    <script src="../../static/js/main.js" th:src="@{/js/main.js}"></script>
</footer>
</body>
</html>