<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      th:fragment="header">
<!-- All CSS in header.html -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- CSRF -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.getHeaderName()}"/>

    <!-- Tether core CSS http://tether.io/ -->
    <link href="../../static/css/tether.min.css" th:href="@{/css/teher.min.css}" rel="stylesheet"/>

    <!-- Bootstrap CSS https://getbootstrap.com/docs/4.1/getting-started/download/ -->
    <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Font-Awesome CSS https://fontawesome.com/?from=io and http://glyphicons.com/ -->
    <link href="../../static/css/fontawesome.min.css" th:href="@{/css/fontawesome.min.css}" rel="stylesheet"/>

    <!-- NProgress CSS https://github.com/rstacruz/nprogress -->
    <link href="../../static/css/nprogress.css" th:href="@{/css/nprogress.css}" rel="stylesheet"/>

    <!-- thinker-md CSS https://gitee.com/benhail/thinker-md -->
    <link href="../../static/css/thinker-md.vendor.css" th:href="@{/css/thinker-md.vendor.css}" rel="stylesheet"/>

    <!-- bootstrap tags CSS https://github.com/xoxco/jQuery-Tags-Input -->
    <link href="../../static/css/jquery.tagsinput.min.css" th:href="@{/css/jquery.taginput.min.css}" rel="stylesheet"/>

    <!-- bootstrap chosen CSS https://github.com/haubek/bootstrap4c-chosen -->
    <link href="../../static/css/component-chosen.min.css" th:href="@{/css/component-chosen.min.css}"/>

    <!-- toastr CSS https://github.com/CodeSeven/toastr -->
    <link href="../../static/css/toastr.min.css" th:href="@{/css/toastr.min.css}" rel="stylesheet"/>

    <!-- jQuery image cropping plugin CSS https://github.com/acornejo/jquery-cropbox or https://github.com/hongkhanh/cropbox -->
    <link href="../../static/css/jquery.cropbox.css" th:href="@{/css/jquery.cropbox.css}" rel="stylesheet"/>

    <!-- Custom styles -->
    <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <link href="../../static/css/thymeleaf-bootstrap-paginator.css" th:href="@{/css/thymeleaf-bootstrap-paginator.css}" rel="stylesheet"/>
    <link href="../../static/css/blog.css" th:href="@{/css/blog.css}" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-dark bg-dark navbar-expand-md">
    <div class="container">
        <button class="navbar-toggler navbar-toggle-right" type="button" data-toggle="collapse"
                data-target="#navbarsContainer"
                aria-controls="navbarsExampleContainer" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/" th:href="@{~/}">NewStarBlog</a>
        <div class="collapse navbar-collapse" id="navbarsContainer">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/blogs?order=new">最新<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blogs?order=hot">最热</a>
                </li>
                <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="搜索"/>
                    <a href="/blogs?keyword=ww" class="btn btn-outline-secondary my-2 my-sm-0">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </a>
                </form>
            </ul>

            <div sec:authorize="isAuthenticated()" class="row">
                <div class="dropdown">
                    <a class="dropdown-toggle" href="/u/tombear"
                       th:href="@{'/u/'+${#authentication.principal.username}}" data-toggle="dropdown">
                        <span class="cust-navbar-dropdown" sec:authentication="name"></span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/u/tombear"
                           th:href="@{'/u/'+${#authentication.principal.username}}">
                            个人主页
                        </a>
                        <a class="dropdown-item" href="/u/tombear/profile"
                           th:href="@{'/u/'+${#authentication.principal.username}}+'/profile'">
                            个人设置
                        </a>
                    </div>
                </div>
                <div>
                    <a href="/u/tombear/blogs/edit"
                       th:href="'/u/'+${#authentication.principal.username}+'/blogs/edit'"
                       class="btn btn-outline-success my-2 my-sm-0">
                        写博客
                    </a>
                </div>
                <form action="/logout" th:action="@{/logout}" method="post">
                    <input class="btn btn-outline-success" type="submit" value="退出">
                </form>
            </div>

            <div sec:authorize="isAnonymous()">
                <a href="/login" class="btn btn-outline-success my-2 my-sm-0" type="">登录</a>
                <a href="/register" class="btn btn-outline-success my-2 my-sm-0" type="">注册</a>
            </div>
        </div>
    </div>
</nav>
</body>
</html>